@import "./../styles/fluid.scss";

.Topbar {
  background: var(--background-basic);
  color: var(--text-basic);
}

.Topbar_header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 6rem 4rem;
  @include fluid("padding-top", 30, 60);
  @include fluid("padding-bottom", 20, 60);
}

  .Topbar_header_title {
    grid-column-start: 1;
    grid-column-end: 1;
  }

    .Topbar_header_title h2 {
      @include fluid("font-size", 22, 32);
    }

  .Topbar_header_button {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 4rem;
    opacity: 0.6;
  }

    .Topbar_header_button:hover {
      opacity: 1;
    }

    .Topbar_header_button a svg {
      fill: var(--text-basic);
      @include fluid("width", 22, 28);
      @include fluid("height", 22, 28);
    }