@import "./../../../../layout/styles/fluid.scss";

.search_actions {
  padding: 0 4rem;
}

.search_actions_input {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 4rem;
  @include fluid("grid-column-gap", 20, 40);
  padding: 2rem 4rem;
  @include fluid("padding", 24, 40);
  color: var(--text-basic);
  background: var(--background-hover);
  border-radius: 0.4rem;
  outline: none;
  font-size: 2.4rem;
  @include fluid("font-size", 18, 26);
  text-decoration: none;
}

  .search_actions_input input {
    color:var(--text-basic);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
  }

  .search_actions_input_icon {
    align-self: end;
    opacity: 0.6;
  }

    .search_actions_input_icon svg {
      fill: var(--text-basic);
      @include fluid("width", 20, 28);
      @include fluid("height", 20, 28);
    }

  .search_actions_input_text {
    align-self: center;
    background: transparent;
    outline: none;
    border: none;
    width: auto;
    font-size: 2.4rem;
    @include fluid("font-size", 18, 26);
  }

  .search_actions_input_clear {
    align-self: center;
  }

    .search_actions_input_clear svg {
      fill: var(--text-basic);
      @include fluid("width", 20, 28);
      @include fluid("height", 20, 28);
      float: right;
    }

    .search_actions_input_clear:hover {
      cursor: pointer;
    }

.search_results {
  padding: 4rem;
}

  .search_results_list {

  }

  .search_results_list_item {
    @include fluid("font-size", 16, 24);
    line-height: 2;
    border-bottom: 1px solid var(--background-divider);
    width: 100%;
		display: flex;
  }

    .search_results_list_item:last-of-type {
      border-bottom: none;
    }

    .search_results_list_item:hover {
      background: var(--background-hover);
    }

    .search_results_list_item a {
      padding: 1rem 0;
      @include fluid("padding-top", 6, 10);
      @include fluid("padding-bottom", 6, 10);
      text-decoration: none;
      color: var(--text-basic);
      width: 100%;
    }