@import "./../../../../layout/styles/fluid.scss";

.fontsize_selection {
  background: var(--background-highlight);
  padding: 4rem;
  @include fluid("padding-top", 20, 40);
  @include fluid("padding-bottom", 20, 40);
}

  .fontsize_selection_title {
    @include fluid("font-size", 16, 20);
    text-align: center;
  }

.fontsize_list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 80%;
  margin: 6rem auto;
  @include fluid("margin-top", 10, 20);
  @include fluid("margin-bottom", 10, 20);
  @include fluid("padding-top", 10, 30);
  height: 3.4rem;
}

  .fontsize_list_item {
    cursor: pointer;
    opacity: 0.4;
    line-height: 3.4rem;
    vertical-align: middle;
  }

    .fontsize_list_item_16px {
      font-size: 1.6rem;
    }

    .fontsize_list_item_24px {
      font-size: 2.4rem;
    }

    .fontsize_list_item_32px {
      font-size: 3.2rem;
    }

    .fontsize_list_item:hover {
      opacity: 1;
    }

    .fontsize_list_item_active {
      opacity: 1;
    }