@import "./../../../../layout/styles/fluid.scss";

.fontalign_selection {
  background: var(--background-highlight);
  padding: 4rem;
  @include fluid("padding-top", 20, 40);
  @include fluid("padding-bottom", 20, 40);
}

  .fontalign_selection_title {
    @include fluid("font-size", 16, 20);
    text-align: center;
  }

.fontalign_list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 80%;
  margin: 6rem auto;
  @include fluid("margin-top", 10, 20);
  @include fluid("margin-bottom", 10, 20);
  @include fluid("padding-top", 10, 30);
  height: 3.4rem;
}

  .fontalign_list_item {
    cursor: pointer;
    opacity: 0.4;
    line-height: 3.4rem;
  }

    .fontalign_list_item:hover {
      opacity: 1;
    }

    .fontalign_list_item svg {
      fill: var(--text-basic);
      @include fluid("width", 20, 28);
      @include fluid("height", 20, 28);
      vertical-align: middle;
    }

    .fontalign_list_item_active {
      opacity: 1;
    }