@import "./../../layout/styles/fluid.scss";

.header {
	padding: 4rem;
}

	.header h2 {
		font-size: 3.2rem;
	}

.settings {
	display: grid;
	grid-template-rows: auto auto auto;
	position: sticky;
}

	.settings_navigation {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		width: 100%;
	}

		.settings_navigation_item {
			text-align: center;
			padding: 3rem 0;
			@include fluid("padding-top", 22, 30);
			@include fluid("padding-bottom", 22, 30);
			cursor: pointer;
		}

			.settings_navigation_item svg {
				fill: var(--text-alternative);
				@include fluid("width", 20, 28);
				@include fluid("height", 20, 28);
				
			}

				.settings_navigation_item:hover svg {
					fill: var(--text-basic);
				}

				.settings_navigation_item_active {
					background: var(--background-highlight);
				}

					.settings_navigation_item_active svg {
						fill: var(--text-basic);
					}